.env
backend/.env
.venv/
.cache/
docs/

data/*

!data/parsed_clean/
!data/reference_slides/
!data/raw/
data/raw/*
!data/raw/pdfs/

data/parsed_clean/*
!data/parsed_clean/.gitkeep
data/reference_slides/*
!data/reference_slides/.gitkeep
data/raw/pdfs/*
!data/raw/pdfs/.gitkeep

logs/
.ipynb_checkpoints/
qdrant_storage/
__pycache__/
*.pyc
.pytest_cache/
*.stackdump